<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cM_DSL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cM_DSL.presentation.CM_DSLModelWizardID"
            name="%_UI_CM_DSLModelWizard_label"
            class="cM_DSL.presentation.CM_DSLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CM_DSLModelFile.gif">
         <description>%_UI_CM_DSLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cM_DSL -->
      <editor
            id="cM_DSL.presentation.CM_DSLEditorID"
            name="%_UI_CM_DSLEditor_label"
            icon="icons/full/obj16/CM_DSLModelFile.gif"
            extensions="cm_dsl"
            class="cM_DSL.presentation.CM_DSLEditor"
            contributorClass="cM_DSL.presentation.CM_DSLActionBarContributor">
      </editor>
   </extension>

</plugin>
